@use './../../node_modules/hgrid-css/sass/hgrid.scss' with (
  $turn-off-link-decoration: true,
  $use-article-link-underlines: true,
  $link-underline-color: #c788e0,
  $pre-code-bg: #23004b,
  $focus-border-color: #3971ffaf,
  $focus-border-weight: 0.3rem,
  $font-family: 'Wotfard',
);

:root {
  --bg: #f6f6f6;
  --bg-gray-darker: #dddbd5;
  --header-bg: #fff;
  --header-shadow: #52525242;
  --title: #000;
  --menulink: #333;
  --menutitle: #444;
  --menulink-hover: #000;
  --transition-duration: 0.2s;
  --border-light-dotted: var(--bg-gray-light);
  --border-light-solid: var(--bg-gray-light);
  --table-row-even: #eee;
  --table-row-hover: #fff6dd;
  --tfoot-bg: #d4d4d4;
  --menu-border: #d4d4d4;
  --note-border: #9ccaff;
  --note-bg: #d7eeff;
  --icon-filter: invert(0);
}

[data-theme="dark"] {
  --bg: #060323;
  --bg-gray-darker: #29236c;
  --color-dark: #e0dbd3;
  --header-bg: #0b092f;
  --title: #cabfaf;
  --header-shadow: #00000060;
  --menulink: #d4c9b9;
  --menutitle: #e9dac5;
  --menulink-hover: #ffffff;
  --link-color: #ffc9a2;
  --active-link: #d09255;
  --link-underline-color: #9248a0;
  --color-orange: #ff9900;
  --transition-bg: var(--bg);
  --transition-duration: 0.2s;
  --pre-code-bg: #150035;
  --inline-code-bg: #391e54;
  --border-light-dotted: #2c3868;
  --border-light-solid: #191f35;
  --table-row-even: #191f35;
  --table-row-hover: #f5f0e345;
  --tfoot-bg: #201d3f;
  --menu-border: #171244;
  --note-border: #31278f;
  --note-bg: #130f40;
  --icon-filter: invert(70%);
  --bg-light: #e8e9f7;
  --bg-gray-lighter: #0e0c33;
}

body {
  background: var(--bg);
  transition: all var(--transition-duration);
  color: var(--color-dark);

  &.no-outline button:not(form button):focus,
  &.no-outline a:not(form a):focus,
  &.no-outline label:not(form label):focus,
  &.no-outline input:not(input[type=radio]:checked):not(form input):focus,
  &.no-outline ul li:not(form ul li):focus {
    box-shadow: none;
  }
}

.transition {
  background: var(--transition-bg);
  pointer-events: none;
}

a,
p a,
ol li a,
ul li a {
  color: var(--link-color);
  text-decoration-color:  var(--link-underline-color)
}

a.no-underline:hover,
nav.sidebar a.no-underline:hover, 
.desktop-menu a.no-underline:hover {
  text-decoration: none;
}

main.container,
main.container-max {
  min-height: calc(100vh - 341px)
}

.masthead {
  background: #2c004f;
  background: linear-gradient(197deg, #2c004f 0%, #0b0029 100%);
}

.graphic {
  background: url('/assets/img/bg-t.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50.7rem;
}

.lines {
  background: url('/assets/img/lines.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50.7rem;
  opacity: 0.2;
}

.lines-2 {
  background: url('/assets/img/lines2.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50.7rem;
  opacity: 0.1;
}

.lines-3 {
  background: url('/assets/img/lines3.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50.7rem;
  opacity: 0.1;
}

.signal {
  color: #f7e0a8;
}

.npm-install {
  color: var(--link-color);
  background: var(--inline-code-bg);
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}

[data-theme="dark"] .pitch .column {
  background:#110533;
  p {
    color:#b1b6e6;
  }
}

button.outline-l {
  background: none;
  border: 2px solid #fff;
  font-weight: 600;
  padding: 0;
  letter-spacing: 4px;
  transition: all var(--transition-duration) ease;
  a {
    line-height: 6.4rem;
    padding: 2.2rem 6rem;
  }
  &:hover,
  &:focus,
  &:active {
    background: #ffffff38;
    border: 2px solid #fff;
    transform: scale(1.08)
  }
}

header {
  background: var(--header-bg);
  box-shadow: 0 0 0.3rem var(--header-shadow);

  .icon {
    width: 19px;
    height: 19px;
    margin-right: 0.8rem;
    opacity: 0.83;
  }

  .github-icon {
    width: 2.8rem;
    height: 2.8rem;
    filter: var(--icon-filter);
    transition: var(--transition-duration) ease;
  }

  .identity:hover,
  .github-icon:hover {
    opacity: 0.6;
  }
}

header ul li a,
header .logo a,
.sidebar ul li a,
.docs-toggle a,
.mobile-toggle a {
  color: var(--menulink);
}

header ul li a,
.sidebar a {

  &:before {
    height: 0;
    background-color: unset;
  }

  &:hover {
    color: var(--menulink-hover);
  }
}

header .logo a {
  font-size: 2.6rem;
  margin-top: -1px;
}

.theme-switch {
  width: 2.2rem;
  height: 2.2rem;
  a {
    position: relative;
    &.dark {
      transform: scaleX(-1);
      top: 3px;
      right: -4px;
    }
    &.light {
      right: -2px;
      top: 1px;
    }
    &:hover {
      color: var(--color-orange);
      transition: 0.2s ease-in-out;
    }
  }
}

.docs-toggle a {
  position: relative;
  top: 2px;

  &.dark {
    top: -1px;
    right: -4px;
  }
}

nav.sidebar {
  top: 0rem;
  bottom: 0;
  left: 0;
  width: 18%;
  padding: 10.6rem 0.6rem 2rem 2.8%;
  border-right: 1px dotted var(--border-light-dotted);
  transition: border var(--transition-duration) ease;

  > h5 {
    margin-bottom: 0.8rem;

    > a {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: var(--menutitle);
    }
  }
}

nav.sidebar a:hover,
.desktop-menu a:hover {
  text-decoration: underline #999 solid;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.12rem;
}

nav.sidebar ul.sub-links {
  padding-left: 3.8%;
  margin-bottom: 2rem;
  font-size: 90%;
  margin-top: -0.6rem;
}

nav.sidebar {

  ul.sub-links > ul.sub-links {
    font-size: 100%;
    margin-top: unset;
  }

  a.active-link {
    font-weight: bold;
    color: var(--active-link);
  }
}

nav.mobile-menu {
  left: -50rem
}

.border-top-light {
  border-top: 1px solid var(--border-light-solid);
  transition: var(--transition-duration) ease;
}

article h1,
article h2 {
  letter-spacing: -1px;
}

article h3,
article h4 {
  letter-spacing: -0.5px;
}

article h1 {
  color: var(--title);
}

article p {
  line-height: 3rem;

  .p-ico {
    display: inline;
    width: 1.8rem;
    height: 1.8rem;
    transform: translate(0, 0.2rem);
  }

  &.note {
    padding: 1.6rem 1rem 1.6rem 2rem;
    background: var(--note-bg);
    border-radius: 1rem;
    border-left: 4px solid var(--note-border);
    font-size: 1.6rem;
    line-height: 2.6rem;
    transition: background var(--transition-duration) ease;
  }
}

article.demo {
  padding-left: 20%;

  p.intro {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 6rem;
  }

  p.caption {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 1.6rem 0 3rem;
    padding-bottom: 1.4rem;
    border-bottom: 1px dotted var(--border-light-solid)
  }

  .column > p:not(.normal),
  [class*="column-"] > p:not(.normal) {
    border-radius: 6px;
    padding: 2.2rem 0.5rem;
    background-color: #79518b;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
  }

  .form-example {
    color: #000;
    background: var(--bg-light);

    a {
      color: #66008d;
    }
  }

  .two-columns p,
  .three-columns p,
  .four-columns p,
  .normal-text p {
    background: inherit;
    text-align: initial;
    padding: 0;
    margin-bottom: 2.2rem;
    color: var(--color-dark);
    line-height: 2.2rem;
    font-size: 1.4rem;
  }

  .circle {
    max-width: 50%;
    margin: 2rem 0 0;
  }

  pre {
    position: relative;

    &.filename:before {
      content: attr(data-file);
      position: absolute;
      font-size: 1.2rem;
      top: 1.6rem;
      right: 1.6rem;
      text-align: right;
      color: #fff3cc;
      padding: 1rem 0.6rem;
      border-radius: 0.4rem;
      background: #060018;
    }

    > code {
      border-radius: 1rem;
      background-color: var(--pre-code-bg);
    }
  }
}

.demo-title {
  color: var(--color-dark);
  letter-spacing: unset;
}

article ul.demo-list, 
article ol.demo-list {
  padding-left: 8%;
}

code.loc {
  background: var(--bg-gray-darker);
  color: var(--color-dark);
}

p > code,
li > code,
small > code,
table td > code,
table th > code {
  color: var(--font-light);
  background: var(--inline-code-bg);
  transition: all 0.1s;
}

table {
  color: var(--font);

  td > code,
  th > code {
    font-size: 90%;
  }

  thead tr th, 
  tbody tr td {
    border-bottom: 1px solid var(--border-light-solid);
  }

  tfoot tr td {
    background: var(--tfoot-bg);
  }
}

.demo-barchart {
  height: 24rem;
  margin-top: 2rem;
}

.demo-blinker {
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid #ff5f5f;
  border-radius: 100%;

  .inner {
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 100%;
  }
}

.demo-pulse-ring {
  background: #98d1ff;
  border-radius: 100%;
  padding: 0.8rem;

  .inner {
    width: 1rem;
    height: 1rem;
    background: #42aaff;
    border-radius: 100%;
  }
}

.demo-triangle {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 3.2rem solid #ff0000;
  position: relative;

  .inner {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid #fff;
    top: 18px;
    position: relative;

    span {
      position: relative;
      top: 11px;
      font-weight: bold;
      font-size: 17px;
      right: -0.2px;
    }
  }
}

.individual-border-demo .bg-gray-lighter {
  background-color: var(--bg-gray-lighter);
}

.sublink {
  /* scroll-margin: 10rem; awaiting fix for Safari */
  position: relative;
  top: -10rem;
}

.x-close {
  font-size: 4rem;
  margin-right: 1%;
}

.custom-hairline {
  border-top: 1px solid var(--border-light-solid);
  margin-bottom: 3rem;
}

.demo-border-gray-light {
  border: 1px solid var(--border-light-solid);
}

article.demo table.striped {

  tbody tr:nth-child(even) {
    background: var(--table-row-even);
    border-bottom: 1px dotted var(--border-light-solid);
  }
  
  tbody tr:nth-child(even):hover {
    background: var(--table-row-hover);
  }
  
  tbody tr:nth-child(odd):hover {
    background: var(--table-row-hover);
    border-bottom: 1px dotted var(--border-light-solid);
  }
}

.scrollable-x {
  overflow-y: hidden;
  overflow-x: scroll;
}

.scrollable-y {
  overflow-y: scroll;
  max-width: 100%;
}

.demo-scrolltable-x {
  width: 80%;
}

.highlight {
  background: var(--inline-code-bg);
}

.max-content-max {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.cursor-move-demo {
  font-size: 83%;
  line-height: 1.4rem;
}

footer {
  background: #000;
  padding: 0 0 8rem;
  position: relative;
  flex-shrink: 0;

  p a,
  p {
    color: #cfcfcf;
    font-size: 1.6rem;
  }

  p a {
    border-bottom: 1px solid transparent;
  }

  p a:hover {
    color: #fff;
    border-bottom: 1px dotted #666;
  }
}

/* Tomorrow Night Blue Theme for highlight.js */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/*! purgecss start ignore */
.hljs-comment,
.hljs-quote {
  color: #7b72a1;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ff95b0;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #ffc58f;
}

.hljs-attribute {
  color: #ffeead;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #f1ffac;
}

.hljs-title,
.hljs-section {
  color: #bbdaff;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #ebbbff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
/*! purgecss end ignore */

@media (max-width: 1100px) {
  nav.sidebar {
    padding: 10.6rem 0.6rem 2rem 0.8%;
  }
}

@media (max-width: 900px) {
  nav.sidebar {
    padding: 10.6rem 0.6rem 2rem 2.2%;
    width: 22%;
  }
  article.demo {
    padding-left: 23%;
  }
}

@media (max-width: 800px) {
  nav.sidebar {
    height: 100vh;
    width: 53%;
    z-index: 9;
    border-right: 1px solid var(--menu-border);
    background: var(--bg);
    padding: 6% 1% 1% 6%;
    left: -50rem;
    transition: var(--transition-duration) ease;
    box-shadow: 0px 0px 8px #00000030;
  }

  nav.sidebar h5 {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }

  nav.sidebar ul.sub-links {
    margin-top: unset;
  }

  nav.sidebar ul li a {
    line-height: 3rem;
  }

  nav.sidebar.show {
    left: -0.6rem;
  }

  nav.mobile-menu {
    padding-top: 7rem !important;
  }

 .docs-toggle {
    display: block;
  }

  .sublink {
    top: -8rem;
  }

  .close-x {
    display: block;
    font-size: 4rem;
    position: sticky;
    right: 17px;
    margin-top: -2rem;
    position: absolute;
    top: 34px;
    opacity: 0.5;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-top-menu {
    display: flex;
  }

  article.demo {
    padding-left: initial;
  }

  footer .row .column-1 {
    flex-direction: column;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) and (max-width: 600px) {
  .demo-word-break-dm {
    display: block;
    max-width: 43rem;
  }
  .demo-word-break {
    max-width: 39.5rem;
    display: none;
  }
}

@media (prefers-color-scheme: light) and (max-width: 600px) {
  .demo-word-break-dm {
    max-width: 43rem;
    display: none;
  }
  .demo-word-break {
    display: block;
    max-width: 39.5rem;
  }
}

@media (min-width: 1681px) {
  .container-max {
    max-width: 1600px;
  }
}

@media (max-width: 768px) {
  nav.sidebar {
    padding: 4.6rem 0.6rem 2rem 8%;
  }
  .pitch .column {
    margin-bottom: 2.4rem;  
  }
  .demo-scrolltable-x {
    width: 100%;
  }
}

@media (max-width: 600px) {
  nav.sidebar {
    width: 70%;
  }
  small.ellipsis {
    height: 9.1rem !important;
  }
  .cursor-move-demo {
    width: 80%;
  }
}