  <footer>
  <div class="buffer"></div>
    <div class="container-max padding-top-100">
      <div class="row">
        <div class="column">
          <p><a>Footer link A</a></p>
          <p><a>Footer link B</a></p>
          <p><a>Footer link C</a></p>
          <p><a>Footer link D</a></p>
        </div>
        <div class="column">
          <p><a>Footer link A</a></p>
          <p><a>Footer link B</a></p>
          <p><a>Footer link C</a></p>
          <p><a>Footer link D</a></p>
        </div>
        <div class="column">
          <p><a>Footer link A</a></p>
          <p><a>Footer link B</a></p>
          <p><a>Footer link C</a></p>
          <p><a>Footer link D</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>