<footer>
  <div class="container-max padding-top-100">
    <div class="row">
      <div class="column-1 flex justify-content-space-between">
        <p><a href="/documentation/about-hgrid/">About <strong>hgrid</strong></a></p>
        <p><a href="/documentation/installation/">Documentation</a></p>
        <p><a href="mailto:hgrid-css@protonmail.com">hgrid-css@protonmail.com</a></p>
        <p class="text-gray">v0.5.3-beta</p>
      </div>
    </div>
  </div>
</footer>