<footer>
  <div class="container-max padding-top-100">
    <div class="row">
      <div class="column">
        <p><a href="/documentation/about-hgrid/">About <strong>hgrid</strong></a></p>
      </div>
      <div class="column">
        <p><a href="/documentation/installation/">Documentation</a></p>
      </div>
      <div class="column">
        <p><a href="https://github.com/ahansson/hgrid-css" rel="noopener">GitHub</a></p>
      </div>
      <div class="column">
        <p class="text-gray">v0.5.3-beta</p>
      </div>
    </div>
  </div>
</footer>