<div class="transition"></div>
<script type="text/javascript">window.addEventListener('load', () => {document.querySelector('.transition').classList.add('vanish')})</script>
<header class="fixed width-100pct z-index-9">
  <div class="container padding-top-10 padding-bottom-10 flex align-items-center justify-content-space-between">
    <div class="flex align-items-center identity">
      <img src="/assets/img/icon.png" width="19" height="19" class="icon rotate-once" alt="hgrid-icon">
      <h4 class="mb-0 logo">
        <a href="/">hgrid</a>
      </h4>
    </div>
    <nav>
      {% include 'layout/partials/menus/topmenu-desktop.njk' %}
      {% include 'layout/partials/menus/topmenu-mobile.njk' %}
    </nav>
  </div>
</header>