<header class="fixed border-bottom-lighter fullwidth z-index-9">
  <div class="container padding-top-10 padding-bottom-10 flex align-items-center justify-content-space-between">
    <div class="flex align-items-center identity">
      <img src="/assets/img/icon.png" class="icon rotate-once" alt="hgrid-icon">
      <h4 class="mb-0 logo"><a href="/" role="menuitem">hgrid</a></h4>
    </div>
    <nav role="menu">
      <!-- desktop nav -->
      <ul class="flex align-items-center desktop-menu" role="menu">
        <li role="menuitem">
          <a class="border-bottom-none bold" href="/documentation/">Documentation</a>
        </li>
        <li role="menuitem" class="push20h">
          <a class="border-bottom-none" href="https://github.com/ahansson/hgrid-css" target="_blank">GitHub</a>
        </li>
        <li role="menuitem" class="push20h">
          <a href="https://github.com/ahansson/hgrid-css" target="_blank">
            <img src="/assets/img/github.png" class="opacity-70 pointer github-icon" alt="github-icon">
          </a>
        </li>
      </ul>
      <!-- mobile nav -->
      <ul class="flex align-items-center hide mobile-menu" role="menu">
        <li role="menuitem" class="push20h">
          <a class="border-bottom-none menu-trigger" >Menu</a>
        </li>
        <li role="menuitem" class="push20h">
          <a href="https://github.com/ahansson/hgrid-css" target="_blank">
            <img src="/assets/img/github.png" class="opacity-70 pointer github-icon ">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- end header -->