<nav class="column-5 fixed overflow-y-auto border-right-light-dotted sidebar" role="menu">
  <span class="hide close-x pointer">&times;</span>
  <h5 role="menuitem"><a href="#installation">Installation</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="/documentation/#npm">NPM/Yarn</a></li>
      <li role="menuitem"><a href="/documentation/#cdn">CDN</a></li>
      <li role="menuitem"><a href="/documentation/#clone">Clone</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/#about-hgrid">About</a></h5>
  <h5 role="menuitem"><a href="/documentation/#layout">Layout</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="/documentation/#containers">Containers</a></li>
      <li role="menuitem"><a href="/documentation/#auto-columns">Automatic columns</a></li>
      <li role="menuitem"><a href="/documentation/#accurate-columns">Accurate columns</a></li>
      <li role="menuitem"><a href="/documentation/#flex">Flex</a></li>
      <li role="menuitem"><a href="/documentation/#grid">Grid</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/#utility-classes">Utility classes</a></h5>
  <h5 role="menuitem"><a href="/documentation/#typography">Typography</a></h5>
</nav>
<!-- End sidebar menu -->