<!-- start sidebar menu -->
<nav class="column-5 fixed overflow-y-auto border-right-light-dotted sidebar" role="menu">
  <span class="hide close-x pointer">&times;</span>
  <h5 role="menuitem"><a href="#installation">Installation</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="#npm">NPM/Yarn</a></li>
      <li role="menuitem"><a href="#cdn">CDN</a></li>
      <li role="menuitem"><a href="#clone">Clone</a></li>
    </ul>
  <h5 role="menuitem"><a href="documentation.html#about-hgrid">About</a></h5>
  <h5 role="menuitem"><a href="./documentation.html#layout">Layout</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="./documentation.html#containers">Containers</a></li>
      <li role="menuitem"><a href="documentation.html#auto-columns">Automatic columns</a></li>
      <li role="menuitem"><a href="documentation.html#accurate-columns">Accurate columns</a></li>
      <li role="menuitem"><a href="documentation.html#flex">Flex</a></li>
      <li role="menuitem"><a href="documentation.html#grid">Grid</a></li>
    </ul>
  <h5 role="menuitem"><a href="documentation.html#utility-classes">Utility classes</a></h5>
  <h5 role="menuitem"><a href="documentation.html#typography">Typography</a></h5>
  <h5 role="menuitem"><a href="documentation.html#utilities">Utilities</a></h5>
  <h5 role="menuitem"><a href="documentation.html#typography">Typography</a></h5>
  <h5 role="menuitem"><a href="documentation.html#utilities">Utilities</a></h5>
  <ul class="sub-links">
    <li role="menuitem"><a>Subheader</a></li>
    <li role="menuitem"><a>Subheader</a></li>
      <ul class="sub-links">
        <li role="menuitem"><a tabindex="0">Sublink</a></li>
        <li role="menuitem"><a tabindex="0">Sublink</a></li>
        <li role="menuitem"><a tabindex="0">Sublink</a></li>
        <li role="menuitem"><a tabindex="0">Sublink</a></li>
        <li role="menuitem"><a tabindex="0">Sublink</a></li>
      </ul>
  </ul>
  <h5 role="menuitem"><a href="documentation.html#typography">Typography</a></h5>
  <h5><a href="documentation.html#utilities">Utilities</a></h5>
</nav>
<!-- End sidebar menu -->