/*! hgrid v1.3.0 | MIT License | github.com/ahansson/hgrid
!*/
*,
*::before,
*::after {
  box-sizing: border-box; }

/*!
  Reset styles include inspiration from
  https://github.com/sindresorhus/modern-normalize (MIT)
  https://github.com/suitcss/
  https://github.com/tailwindlabs/tailwindcss (MIT)
!*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/*
  Set a sensible line height in all browsers (1)
  Prevent auto-scaling of text on small screens (2)
  Adjust font-size so 1rem = 10px (3)
*/
html {
  line-height: 1.5;
  /* 1 */
  text-size-adjust: none;
  /* 2 */
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
  /* 3 */
  display: block; }

body {
  background-color: #fff;
  display: block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Segoe UI Emoji";
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/*
Improve system font consistency (1)
Correct 'em' font sizing (all browsers) (2)
Remove line-height (all browsers) (3)
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  line-height: 0;
  /* 3 */ }

/*
1. Correct height in Firefox.
2. Correct inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Make it visible by default
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px; }

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-size: inherit;
  font-weight: inherit; }

/*
Add correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

/*
Add correct font weight for Edge and Safari
*/
b,
strong {
  font-weight: bolder; }

/*
Add correct font size for all browsers
*/
small {
  font-size: 80%; }

/*
Prevent 'sub' and 'sup' elements from affecting line height (all browsers)
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25rem; }

sup {
  top: -0.5rem; }

/*
Opinionated setting for section and image elements
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; }

/* 
Constrain images and videos to the parent width and preserve their instrinsic aspect ratio.
*/
img,
video {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* 
Strip styling from linked images
*/
a[href$=jpg],
a[href$=jpeg],
a[href$=jpe],
a[href$=png],
a[href$=gif] {
  text-decoration: none !important;
  border: 0 none !important; }

/*
1) Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2) Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms

1. Change the font styles in all browsers
2. Remove the margin in Firefox and Safari
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

textarea {
  resize: vertical; }

a,
button,
[role=button],
select,
input {
  cursor: pointer; }

input[type=text] {
  cursor: text; }

/*
Remove the inheritance of text transform in Edge and Firefox
*/
button,
select {
  text-transform: none; }

input::placeholder,
textarea::placeholder {
  color: #999; }

/*
Correct the inability to style clickable types in iOS and Safari
Add a few default hgrid styles
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: #66008d;
  background-image: none;
  border: none;
  color: #fff;
  transition: background-color 0.4s ease; }

button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
  background-color: #9139b4; }

/*
Remove the inner border and padding in Firefox
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/*
Remove the additional ':invalid' styles in Firefox
https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/*
Remove padding so developers are not caught out when they zero out 'fieldset' in all browsers
*/
legend {
  padding: 0; }

/*
Add correct vertical alignment in Chrome and Firefox
*/
progress {
  vertical-align: baseline; }

/*
Correct the cursor style of increment and decrement buttons in Safari
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/*
1. Correct the odd appearance in Chrome and Safari
2. Correct the outline style in Safari
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/*
Remove inner padding in Chrome and Safari on macOS
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
1. Correct the inability to style clickable types in iOS and Safari
2. Change font properties in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Add the correct display in Chrome and Safari
*/
summary {
  display: list-item; }

/*
 * Firefox/IE bug where the transparent 'button' background
 * results in a loss of the default 'button' focus styles.
 * Also, remove default border
 */
fieldset,
iframe {
  margin: 0;
  padding: 0;
  border: 0; }

ol,
ul,
menu,
dir {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0; }

blockquote,
q {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0;
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: none; }

/* End reset styles */
/*! Start regular hgrid styles */
body {
  font-size: 1.88rem;
  line-height: 2.88rem; }
  @media (max-width: 37.5em) {
    body {
      font-size: 1.76rem;
      line-height: 2.56rem; } }

h1 {
  font-size: 7.2rem;
  line-height: 8rem;
  margin-bottom: 2.8rem; }
  @media (max-width: 56.25em) {
    h1 {
      font-size: 4.4rem;
      line-height: 4.64rem;
      margin-bottom: 2rem; } }

h2 {
  font-size: 5rem;
  line-height: 5.7rem;
  margin-bottom: 2.24rem; }
  @media (max-width: 56.25em) {
    h2 {
      font-size: 3.6rem;
      line-height: 3.8rem;
      margin-bottom: 1.6rem; } }

h3 {
  font-size: 3.84rem;
  line-height: 4.56rem;
  margin-bottom: 1.6rem; }
  @media (max-width: 56.25em) {
    h3 {
      font-size: 3rem;
      line-height: 3.04rem;
      margin-bottom: 1.2rem; } }

h4 {
  font-size: 2.88rem;
  line-height: 3.44rem;
  margin-bottom: 1.3rem; }
  @media (max-width: 56.25em) {
    h4 {
      font-size: 2.88rem;
      line-height: 3.44rem;
      margin-bottom: 1.12rem; } }

h5 {
  font-size: 2.32rem;
  line-height: 2.912rem;
  margin-bottom: 1.12rem; }
  @media (max-width: 56.25em) {
    h5 {
      font-size: 2.32rem;
      line-height: 2.912rem;
      margin-bottom: 1.12rem; } }

h6 {
  font-size: 2rem;
  line-height: 2.88rem;
  margin-bottom: 1.056rem; }
  @media (max-width: 56.25em) {
    h6 {
      font-size: 2rem;
      line-height: 2.88rem;
      margin-bottom: 1.056rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

p {
  margin-bottom: 2rem; }

article ul,
article ol,
section ul,
section ol {
  list-style-type: square;
  padding-left: 5%;
  margin: 2rem 0; }
  @media (max-width: 37.5em) {
    article ul,
    article ol,
    section ul,
    section ol {
      padding-left: 10%; } }
  article ul li,
  article ol li,
  section ul li,
  section ol li {
    margin: 1.4rem 0; }

article ol,
section ol {
  list-style-type: decimal; }

em {
  font-style: italic; }

small,
.small {
  font-size: 83%; }

code {
  background: #f1dbc7;
  border-radius: 2px;
  color: #66018d;
  display: inline;
  font-size: 83%;
  letter-spacing: -0.4px;
  padding: 0.1rem 0.6rem;
  position: relative;
  top: -1px;
  white-space: pre-line; }

pre {
  margin: 0 0 2rem; }
  pre > code {
    background: #361c43;
    border-radius: 4px;
    color: #fff;
    font-size: 83%;
    display: block;
    letter-spacing: -0.6px;
    line-height: 2.4rem;
    padding: 2rem 2.6rem;
    white-space: pre;
    overflow-x: auto; }

a,
p a,
ul li a,
ol li a,
span a {
  color: #66008d;
  position: relative;
  display: inline-block; }
  a:hover,
  p a:hover,
  ul li a:hover,
  ol li a:hover,
  span a:hover {
    text-decoration: none; }

blockquote {
  border-left: 3px solid #ccc;
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
  padding-left: 1.2rem;
  line-height: 3.4rem; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.no-transform {
  text-transform: none; }

.underline {
  text-decoration: underline; }

.strike {
  text-decoration: line-through; }

.no-underline,
.no-decoration,
.no-strike {
  text-decoration: none; }

.shorten {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ellipsis {
  text-overflow: ellipsis; }

.clip {
  text-overflow: clip; }

.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

.word-break-normal {
  overflow-wrap: normal;
  word-break: normal; }

.word-break-all {
  word-break: break-all; }

.user-select-none {
  user-select: none; }

.user-select-text {
  user-select: text; }

.user-select-all {
  user-select: all; }

.user-select-auto {
  user-select: auto; }

.pointer {
  cursor: pointer; }

.two-columns {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -moz-column-gap: 3.4rem;
  column-gap: 3.4rem;
  column-rule: 1px solid #ccc;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; }
  @media (max-width: 37.5em) {
    .two-columns {
      -moz-column-count: initial;
      -webkit-column-count: initial;
      column-count: initial; } }

.three-columns {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -moz-column-gap: 3.4rem;
  column-gap: 3.4rem;
  column-rule: 1px solid #ccc;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; }
  @media (max-width: 37.5em) {
    .three-columns {
      -moz-column-count: initial;
      -webkit-column-count: initial;
      column-count: initial; } }

.four-columns {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -moz-column-gap: 3.4rem;
  column-gap: 3.4rem;
  column-rule: 1px solid #ccc;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4; }
  @media (max-width: 37.5em) {
    .four-columns {
      -moz-column-count: initial;
      -webkit-column-count: initial;
      column-count: initial; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-inherit {
  text-align: inherit; }

.text-initial {
  text-align: initial; }

.text-unset {
  text-align: unset; }

.text-start {
  text-align: start; }

.text-end {
  text-align: end; }

.font-weight-100 {
  font-weight: 100; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-600 {
  font-weight: 600; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-800 {
  font-weight: 800; }

.font-weight-900 {
  font-weight: 900; }

strong,
.bold,
p strong,
a strong,
span strong,
strong a,
strong span {
  font-weight: bold; }

.font-normal {
  font-weight: normal; }

.spacing-neg-1,
.tracking-neg-1 {
  letter-spacing: -0.008rem; }

.spacing-neg-2,
.tracking-neg-2 {
  letter-spacing: -0.03rem; }

.spacing-neg-3,
.tracking-neg-3 {
  letter-spacing: -0.1rem; }

.spacing-neg-4,
.tracking-neg-4 {
  letter-spacing: -0.3rem; }

.spacing-0,
.tracking-0 {
  letter-spacing: 0; }

.spacing-1,
.tracking-1 {
  letter-spacing: 0.008rem; }

.spacing-2,
.tracking-2 {
  letter-spacing: 0.03rem; }

.spacing-3,
.tracking-3 {
  letter-spacing: 0.1rem; }

.letter-spacing-4,
.tracking-4 {
  letter-spacing: 0.3rem; }

.text-light {
  color: #fff; }

.text-dark {
  color: #000; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-red {
  color: red; }

.text-green {
  color: green; }

.text-blue {
  color: blue; }

.text-orange {
  color: orangered; }

.text-grey-lighter {
  color: #eee; }

.text-grey-light {
  color: #ccc; }

.text-grey {
  color: #888; }

.text-grey-dark {
  color: #555; }

.text-grey-darker {
  color: #333; }

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container,
.container-max {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6%;
  padding-right: 1.6%; }
  @media (max-width: 56.25em) {
    .container,
    .container-max {
      padding-left: 3.2%;
      padding-right: 3.2%; } }
  @media (max-width: 37.5em) {
    .container,
    .container-max {
      padding-left: 3.52%;
      padding-right: 3.52%; } }

.container {
  width: 100%; }

.container-max {
  max-width: 1440px; }

.group {
  margin: 0 0 6rem 0; }

.row,
.row-block {
  margin-left: -0.8%;
  margin-right: -0.8%;
  display: flex;
  margin-bottom: 1.6%; }
  @media (max-width: 48em) {
    .row,
    .row-block {
      display: block; } }

.row-block {
  margin-left: 0;
  margin-right: 0;
  display: block; }

.column {
  margin-left: 0.8%;
  margin-right: 0.8%;
  min-height: 1px;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0; }
  @media (max-width: 48em) {
    .column {
      margin-bottom: 1.6%; } }

.column-1 {
  width: 98.4%; }

.column-2 {
  width: 48.4%; }

.column-3 {
  width: 31.73333%; }

.column-4 {
  width: 23.4%; }

.column-5 {
  width: 18.4%; }

.column-6 {
  width: 15.06667%; }

.column-7 {
  width: 12.68571%; }

.column-8 {
  width: 10.9%; }

.column-9 {
  width: 9.51111%; }

.column-10 {
  width: 8.4%; }

.column-11 {
  width: 7.49091%; }

.column-12 {
  width: 6.73333%; }

.column-13 {
  width: 6.09231%; }

.column-14 {
  width: 5.54286%; }

.column-15 {
  width: 5.06667%; }

.column-16 {
  width: 4.65%; }

.column-17 {
  width: 4.28235%; }

.column-18 {
  width: 3.95556%; }

.column-19 {
  width: 3.66316%; }

.column-20 {
  width: 3.4%; }

.column-21 {
  width: 3.1619%; }

.column-22 {
  width: 2.94545%; }

.column-23 {
  width: 2.74783%; }

.column-24 {
  width: 2.56667%; }

[class^='column-'] {
  margin-left: 0.8%;
  margin-right: 0.8%;
  min-height: 1px;
  min-width: 0; }
  @media (max-width: 48em) {
    [class^='column-'] {
      margin-bottom: 1.6%;
      width: 98.4%; } }

.column-fill {
  flex-grow: 1; }

.flex {
  display: flex; }

.flex-none {
  flex: none; }

.flex-grow-1 {
  flex-grow: 1; }

.flex-grow-0 {
  flex-grow: 0; }

.flex-shrink-1 {
  flex-shrink: 1; }

.flex-shrink-0 {
  flex-shrink: 0; }

.flex-direction-row {
  flex-direction: row; }

.flex-direction-row-reverse {
  flex-direction: row-reverse; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-nowrap {
  flex-wrap: nowrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-content-start {
  align-content: flex-start; }

.align-content-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-space-between {
  align-content: space-between; }

.align-content-space-around {
  align-content: space-around; }

.align-content-space-evenly {
  align-content: space-evenly; }

.justify-items-auto {
  align-items: auto; }

.justify-items-start {
  align-items: start; }

.justify-items-end {
  align-items: end; }

.justify-items-center {
  align-items: center; }

.justify-items-stretch {
  align-items: stretch; }

.align-items-center {
  align-items: center; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-self-auto {
  align-self: auto; }

.align-self-start {
  align-self: flex-start; }

.align-self-end {
  align-self: flex-end; }

.align-self-center {
  align-self: center; }

.align-self-stretch {
  align-self: stretch; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.grid {
  display: grid; }

hr,
.horizontal-line {
  border: 0.5px solid #ccc;
  margin-bottom: 3rem; }

.horizontal-line-dark {
  border: 0.5px solid #555;
  margin-bottom: 3rem; }

.border-light {
  border: 1px solid #ccc; }

.border-dark {
  border: 1px solid #555; }

.border-darker {
  border: 1px solid #333; }

.border-light-dotted {
  border: 1px dotted #ccc; }

.border-dark-dotted {
  border: 1px dotted #555; }

.border-transparent {
  border: 1px solid transparent; }

.border-none {
  border: none; }

.border-top-light {
  border-top: 1px solid #ccc; }

.border-top-light-dotted {
  border-top: 1px dotted #ccc; }

.border-top-dark {
  border-top: 1px solid #555; }

.border-top-dark-dotted {
  border-top: 1px dotted #555; }

.border-top-none {
  border-top: 0; }

.border-bottom-light {
  border-bottom: 1px solid #ccc; }

.border-bottom-light-dotted {
  border-bottom: 1px dotted #ccc; }

.border-bottom-dark {
  border-bottom: 1px solid #555; }

.border-bottom-dark-dotted {
  border-bottom: 1px dotted #555; }

.border-bottom-none {
  border-bottom: 0; }

.border-right-light {
  border-right: 1px solid #ccc; }

.border-right-light-dotted {
  border-right: 1px dotted #ccc; }

.border-right-dark {
  border-right: 1px solid #555; }

.border-right-dark-dotted {
  border-right: 1px dotted #555; }

.border-right-none {
  border-right: 0; }

.border-left-light {
  border-left: 1px solid #ccc; }

.border-left-light-dotted {
  border-left: 1px dotted #ccc; }

.border-left-dark {
  border-left: 1px solid #555; }

.border-left-dark-dotted {
  border-left: 1px dotted #555; }

.border-left-none {
  border-left: 0; }

.bg-light {
  background-color: #fff; }

.bg-dark {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-grey-lighter {
  background-color: #eee; }

.bg-grey-light {
  background-color: #ccc; }

.bg-grey {
  background-color: #888; }

.bg-grey-dark {
  background-color: #555; }

.bg-grey-darker {
  background-color: #333; }

.padding-0 {
  padding: 0rem 0rem; }

.padding-10 {
  padding: 0.8rem 1rem; }

.padding-20 {
  padding: 1.6rem 2rem; }

.padding-30 {
  padding: 2.4rem 3rem; }

.padding-40 {
  padding: 3.2rem 4rem; }

.padding-50 {
  padding: 4rem 5rem; }

.padding-60 {
  padding: 4.8rem 6rem; }

.padding-70 {
  padding: 5.6rem 7rem; }

.padding-80 {
  padding: 6.4rem 8rem; }

.padding-90 {
  padding: 7.2rem 9rem; }

.padding-100 {
  padding: 8rem 10rem; }

.padding-110 {
  padding: 8.8rem 11rem; }

.padding-120 {
  padding: 9.6rem 12rem; }

.padding-130 {
  padding: 10.4rem 13rem; }

.padding-140 {
  padding: 11.2rem 14rem; }

.padding-150 {
  padding: 12rem 15rem; }

.padding-5 {
  padding: 0.44rem 0.5rem; }

.pt-0,
.padding-top-0 {
  padding-top: 0rem; }

.pt-10,
.padding-top-10 {
  padding-top: 1rem; }

.pt-20,
.padding-top-20 {
  padding-top: 2rem; }

.pt-30,
.padding-top-30 {
  padding-top: 3rem; }

.pt-40,
.padding-top-40 {
  padding-top: 4rem; }

.pt-50,
.padding-top-50 {
  padding-top: 5rem; }

.pt-60,
.padding-top-60 {
  padding-top: 6rem; }

.pt-70,
.padding-top-70 {
  padding-top: 7rem; }

.pt-80,
.padding-top-80 {
  padding-top: 8rem; }

.pt-90,
.padding-top-90 {
  padding-top: 9rem; }

.pt-100,
.padding-top-100 {
  padding-top: 10rem; }

.pt-110,
.padding-top-110 {
  padding-top: 11rem; }

.pt-120,
.padding-top-120 {
  padding-top: 12rem; }

.pt-130,
.padding-top-130 {
  padding-top: 13rem; }

.pt-140,
.padding-top-140 {
  padding-top: 14rem; }

.pt-150,
.padding-top-150 {
  padding-top: 15rem; }

.pr-0,
.padding-right-0 {
  padding-right: 0rem; }

.pr-10,
.padding-right-10 {
  padding-right: 1rem; }

.pr-20,
.padding-right-20 {
  padding-right: 2rem; }

.pr-30,
.padding-right-30 {
  padding-right: 3rem; }

.pr-40,
.padding-right-40 {
  padding-right: 4rem; }

.pr-50,
.padding-right-50 {
  padding-right: 5rem; }

.pr-60,
.padding-right-60 {
  padding-right: 6rem; }

.pr-70,
.padding-right-70 {
  padding-right: 7rem; }

.pr-80,
.padding-right-80 {
  padding-right: 8rem; }

.pr-90,
.padding-right-90 {
  padding-right: 9rem; }

.pr-100,
.padding-right-100 {
  padding-right: 10rem; }

.pr-110,
.padding-right-110 {
  padding-right: 11rem; }

.pr-120,
.padding-right-120 {
  padding-right: 12rem; }

.pr-130,
.padding-right-130 {
  padding-right: 13rem; }

.pr-140,
.padding-right-140 {
  padding-right: 14rem; }

.pr-150,
.padding-right-150 {
  padding-right: 15rem; }

.pl-0,
.padding-left-0 {
  padding-left: 0rem; }

.pl-10,
.padding-left-10 {
  padding-left: 1rem; }

.pl-20,
.padding-left-20 {
  padding-left: 2rem; }

.pl-30,
.padding-left-30 {
  padding-left: 3rem; }

.pl-40,
.padding-left-40 {
  padding-left: 4rem; }

.pl-50,
.padding-left-50 {
  padding-left: 5rem; }

.pl-60,
.padding-left-60 {
  padding-left: 6rem; }

.pl-70,
.padding-left-70 {
  padding-left: 7rem; }

.pl-80,
.padding-left-80 {
  padding-left: 8rem; }

.pl-90,
.padding-left-90 {
  padding-left: 9rem; }

.pl-100,
.padding-left-100 {
  padding-left: 10rem; }

.pl-110,
.padding-left-110 {
  padding-left: 11rem; }

.pl-120,
.padding-left-120 {
  padding-left: 12rem; }

.pl-130,
.padding-left-130 {
  padding-left: 13rem; }

.pl-140,
.padding-left-140 {
  padding-left: 14rem; }

.pl-150,
.padding-left-150 {
  padding-left: 15rem; }

.pb-0,
.padding-bottom-0 {
  padding-bottom: 0rem; }

.pb-10,
.padding-bottom-10 {
  padding-bottom: 1rem; }

.pb-20,
.padding-bottom-20 {
  padding-bottom: 2rem; }

.pb-30,
.padding-bottom-30 {
  padding-bottom: 3rem; }

.pb-40,
.padding-bottom-40 {
  padding-bottom: 4rem; }

.pb-50,
.padding-bottom-50 {
  padding-bottom: 5rem; }

.pb-60,
.padding-bottom-60 {
  padding-bottom: 6rem; }

.pb-70,
.padding-bottom-70 {
  padding-bottom: 7rem; }

.pb-80,
.padding-bottom-80 {
  padding-bottom: 8rem; }

.pb-90,
.padding-bottom-90 {
  padding-bottom: 9rem; }

.pb-100,
.padding-bottom-100 {
  padding-bottom: 10rem; }

.pb-110,
.padding-bottom-110 {
  padding-bottom: 11rem; }

.pb-120,
.padding-bottom-120 {
  padding-bottom: 12rem; }

.pb-130,
.padding-bottom-130 {
  padding-bottom: 13rem; }

.pb-140,
.padding-bottom-140 {
  padding-bottom: 14rem; }

.pb-150,
.padding-bottom-150 {
  padding-bottom: 15rem; }

.margin-0 {
  margin: 0rem; }

.margin-10 {
  margin: 1rem; }

.margin-20 {
  margin: 2rem; }

.margin-30 {
  margin: 3rem; }

.margin-40 {
  margin: 4rem; }

.margin-50 {
  margin: 5rem; }

.margin-60 {
  margin: 6rem; }

.margin-70 {
  margin: 7rem; }

.margin-80 {
  margin: 8rem; }

.margin-90 {
  margin: 9rem; }

.margin-100 {
  margin: 10rem; }

.margin-110 {
  margin: 11rem; }

.margin-120 {
  margin: 12rem; }

.margin-130 {
  margin: 13rem; }

.margin-140 {
  margin: 14rem; }

.margin-150 {
  margin: 15rem; }

.margin-5 {
  margin: .5rem; }

.mt-neg-100,
.margin-top-neg-100 {
  margin-top: -10rem; }

.mt-neg-90,
.margin-top-neg-90 {
  margin-top: -9rem; }

.mt-neg-80,
.margin-top-neg-80 {
  margin-top: -8rem; }

.mt-neg-70,
.margin-top-neg-70 {
  margin-top: -7rem; }

.mt-neg-60,
.margin-top-neg-60 {
  margin-top: -6rem; }

.mt-neg-50,
.margin-top-neg-50 {
  margin-top: -5rem; }

.mt-neg-40,
.margin-top-neg-40 {
  margin-top: -4rem; }

.mt-neg-30,
.margin-top-neg-30 {
  margin-top: -3rem; }

.mt-neg-20,
.margin-top-neg-20 {
  margin-top: -2rem; }

.mt-neg-10,
.margin-top-neg-10 {
  margin-top: -1rem; }

.mt-0,
.margin-top-0 {
  margin-top: 0rem; }

.mt-10,
.margin-top-10 {
  margin-top: 1rem; }

.mt-20,
.margin-top-20 {
  margin-top: 2rem; }

.mt-30,
.margin-top-30 {
  margin-top: 3rem; }

.mt-40,
.margin-top-40 {
  margin-top: 4rem; }

.mt-50,
.margin-top-50 {
  margin-top: 5rem; }

.mt-60,
.margin-top-60 {
  margin-top: 6rem; }

.mt-70,
.margin-top-70 {
  margin-top: 7rem; }

.mt-80,
.margin-top-80 {
  margin-top: 8rem; }

.mt-90,
.margin-top-90 {
  margin-top: 9rem; }

.mt-100,
.margin-top-100 {
  margin-top: 10rem; }

.mt-110,
.margin-top-110 {
  margin-top: 11rem; }

.mt-120,
.margin-top-120 {
  margin-top: 12rem; }

.mt-130,
.margin-top-130 {
  margin-top: 13rem; }

.mt-140,
.margin-top-140 {
  margin-top: 14rem; }

.mt-150,
.margin-top-150 {
  margin-top: 15rem; }

.mr-neg-100,
.margin-right-neg-100 {
  margin-right: -10rem; }

.mr-neg-90,
.margin-right-neg-90 {
  margin-right: -9rem; }

.mr-neg-80,
.margin-right-neg-80 {
  margin-right: -8rem; }

.mr-neg-70,
.margin-right-neg-70 {
  margin-right: -7rem; }

.mr-neg-60,
.margin-right-neg-60 {
  margin-right: -6rem; }

.mr-neg-50,
.margin-right-neg-50 {
  margin-right: -5rem; }

.mr-neg-40,
.margin-right-neg-40 {
  margin-right: -4rem; }

.mr-neg-30,
.margin-right-neg-30 {
  margin-right: -3rem; }

.mr-neg-20,
.margin-right-neg-20 {
  margin-right: -2rem; }

.mr-neg-10,
.margin-right-neg-10 {
  margin-right: -1rem; }

.mr-0,
.margin-right-0 {
  margin-right: 0rem; }

.mr-10,
.margin-right-10 {
  margin-right: 1rem; }

.mr-20,
.margin-right-20 {
  margin-right: 2rem; }

.mr-30,
.margin-right-30 {
  margin-right: 3rem; }

.mr-40,
.margin-right-40 {
  margin-right: 4rem; }

.mr-50,
.margin-right-50 {
  margin-right: 5rem; }

.mr-60,
.margin-right-60 {
  margin-right: 6rem; }

.mr-70,
.margin-right-70 {
  margin-right: 7rem; }

.mr-80,
.margin-right-80 {
  margin-right: 8rem; }

.mr-90,
.margin-right-90 {
  margin-right: 9rem; }

.mr-100,
.margin-right-100 {
  margin-right: 10rem; }

.mr-110,
.margin-right-110 {
  margin-right: 11rem; }

.mr-120,
.margin-right-120 {
  margin-right: 12rem; }

.mr-130,
.margin-right-130 {
  margin-right: 13rem; }

.mr-140,
.margin-right-140 {
  margin-right: 14rem; }

.mr-150,
.margin-right-150 {
  margin-right: 15rem; }

.mb-neg-20,
.margin-bottom-neg-20 {
  margin-bottom: -2rem; }

.mb-neg-10,
.margin-bottom-neg-10 {
  margin-bottom: -1rem; }

.mb-0,
.margin-bottom-0 {
  margin-bottom: 0rem; }

.mb-10,
.margin-bottom-10 {
  margin-bottom: 1rem; }

.mb-20,
.margin-bottom-20 {
  margin-bottom: 2rem; }

.mb-30,
.margin-bottom-30 {
  margin-bottom: 3rem; }

.mb-40,
.margin-bottom-40 {
  margin-bottom: 4rem; }

.mb-50,
.margin-bottom-50 {
  margin-bottom: 5rem; }

.mb-60,
.margin-bottom-60 {
  margin-bottom: 6rem; }

.mb-70,
.margin-bottom-70 {
  margin-bottom: 7rem; }

.mb-80,
.margin-bottom-80 {
  margin-bottom: 8rem; }

.mb-90,
.margin-bottom-90 {
  margin-bottom: 9rem; }

.mb-100,
.margin-bottom-100 {
  margin-bottom: 10rem; }

.mb-110,
.margin-bottom-110 {
  margin-bottom: 11rem; }

.mb-120,
.margin-bottom-120 {
  margin-bottom: 12rem; }

.mb-130,
.margin-bottom-130 {
  margin-bottom: 13rem; }

.mb-140,
.margin-bottom-140 {
  margin-bottom: 14rem; }

.mb-150,
.margin-bottom-150 {
  margin-bottom: 15rem; }

.ml-neg-100,
.margin-left-neg-100 {
  margin-left: -10rem; }

.ml-neg-90,
.margin-left-neg-90 {
  margin-left: -9rem; }

.ml-neg-80,
.margin-left-neg-80 {
  margin-left: -8rem; }

.ml-neg-70,
.margin-left-neg-70 {
  margin-left: -7rem; }

.ml-neg-60,
.margin-left-neg-60 {
  margin-left: -6rem; }

.ml-neg-50,
.margin-left-neg-50 {
  margin-left: -5rem; }

.ml-neg-40,
.margin-left-neg-40 {
  margin-left: -4rem; }

.ml-neg-30,
.margin-left-neg-30 {
  margin-left: -3rem; }

.ml-neg-20,
.margin-left-neg-20 {
  margin-left: -2rem; }

.ml-neg-10,
.margin-left-neg-10 {
  margin-left: -1rem; }

.ml-0,
.margin-left-0 {
  margin-left: 0rem; }

.ml-10,
.margin-left-10 {
  margin-left: 1rem; }

.ml-20,
.margin-left-20 {
  margin-left: 2rem; }

.ml-30,
.margin-left-30 {
  margin-left: 3rem; }

.ml-40,
.margin-left-40 {
  margin-left: 4rem; }

.ml-50,
.margin-left-50 {
  margin-left: 5rem; }

.ml-60,
.margin-left-60 {
  margin-left: 6rem; }

.ml-70,
.margin-left-70 {
  margin-left: 7rem; }

.ml-80,
.margin-left-80 {
  margin-left: 8rem; }

.ml-90,
.margin-left-90 {
  margin-left: 9rem; }

.ml-100,
.margin-left-100 {
  margin-left: 10rem; }

.ml-110,
.margin-left-110 {
  margin-left: 11rem; }

.ml-120,
.margin-left-120 {
  margin-left: 12rem; }

.ml-130,
.margin-left-130 {
  margin-left: 13rem; }

.ml-140,
.margin-left-140 {
  margin-left: 14rem; }

.ml-150,
.margin-left-150 {
  margin-left: 15rem; }

.circle {
  border-radius: 100%; }

.rounded {
  border-radius: 100rem; }

.static {
  position: static; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.sticky {
  position: sticky; }

.position-initial {
  position: initial; }

.position-inherit {
  position: inherit; }

.absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.fr {
  float: right; }

.fl {
  float: left; }

.fn {
  float: none; }

.clearfix::after {
  clear: both;
  content: '';
  display: block; }

.z-index-1 {
  z-index: 1; }

.z-index-2 {
  z-index: 2; }

.z-index-3 {
  z-index: 3; }

.z-index-4 {
  z-index: 4; }

.z-index-5 {
  z-index: 5; }

.z-index-6 {
  z-index: 6; }

.z-index-7 {
  z-index: 7; }

.z-index-8 {
  z-index: 8; }

.z-index-9 {
  z-index: 9; }

.z-index-10 {
  z-index: 10; }

.z-index-11 {
  z-index: 11; }

.z-index-12 {
  z-index: 12; }

.z-index-13 {
  z-index: 13; }

.z-index-14 {
  z-index: 14; }

.z-index-15 {
  z-index: 15; }

.z-index-16 {
  z-index: 16; }

.z-index-17 {
  z-index: 17; }

.z-index-18 {
  z-index: 18; }

.z-index-19 {
  z-index: 19; }

.z-index-20 {
  z-index: 20; }

.z-index-999 {
  z-index: 999; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.align-text-top {
  vertical-align: text-top; }

.align-text-bottom {
  vertical-align: text-bottom; }

.align-baseline {
  vertical-align: baseline; }

.fullwidth {
  width: 100%; }

.fullwidth-vw {
  width: 100vw; }

.fullheight {
  height: 100%; }

.fullheight-vh {
  height: 100vh; }

.push1v {
  margin-top: 0.1rem; }

.push2v {
  margin-top: 0.2rem; }

.push3v {
  margin-top: 0.3rem; }

.push4v {
  margin-top: 0.4rem; }

.push5v {
  margin-top: 0.5rem; }

.push6v {
  margin-top: 0.6rem; }

.push7v {
  margin-top: 0.7rem; }

.push8v {
  margin-top: 0.8rem; }

.push9v {
  margin-top: 0.9rem; }

.push10v {
  margin-top: 1rem; }

.push11v {
  margin-top: 1.1rem; }

.push12v {
  margin-top: 1.2rem; }

.push13v {
  margin-top: 1.3rem; }

.push14v {
  margin-top: 1.4rem; }

.push15v {
  margin-top: 1.5rem; }

.push16v {
  margin-top: 1.6rem; }

.push17v {
  margin-top: 1.7rem; }

.push18v {
  margin-top: 1.8rem; }

.push19v {
  margin-top: 1.9rem; }

.push20v {
  margin-top: 2rem; }

.push1h {
  margin-left: 0.1rem; }

.push2h {
  margin-left: 0.2rem; }

.push3h {
  margin-left: 0.3rem; }

.push4h {
  margin-left: 0.4rem; }

.push5h {
  margin-left: 0.5rem; }

.push6h {
  margin-left: 0.6rem; }

.push7h {
  margin-left: 0.7rem; }

.push8h {
  margin-left: 0.8rem; }

.push9h {
  margin-left: 0.9rem; }

.push10h {
  margin-left: 1rem; }

.push11h {
  margin-left: 1.1rem; }

.push12h {
  margin-left: 1.2rem; }

.push13h {
  margin-left: 1.3rem; }

.push14h {
  margin-left: 1.4rem; }

.push15h {
  margin-left: 1.5rem; }

.push16h {
  margin-left: 1.6rem; }

.push17h {
  margin-left: 1.7rem; }

.push18h {
  margin-left: 1.8rem; }

.push19h {
  margin-left: 1.9rem; }

.push20h {
  margin-left: 2rem; }

.pull1v {
  margin-top: -0.1rem; }

.pull2v {
  margin-top: -0.2rem; }

.pull3v {
  margin-top: -0.3rem; }

.pull4v {
  margin-top: -0.4rem; }

.pull5v {
  margin-top: -0.5rem; }

.pull6v {
  margin-top: -0.6rem; }

.pull7v {
  margin-top: -0.7rem; }

.pull8v {
  margin-top: -0.8rem; }

.pull9v {
  margin-top: -0.9rem; }

.pull10v {
  margin-top: -1rem; }

.pull11v {
  margin-top: -1.1rem; }

.pull12v {
  margin-top: -1.2rem; }

.pull13v {
  margin-top: -1.3rem; }

.pull14v {
  margin-top: -1.4rem; }

.pull15v {
  margin-top: -1.5rem; }

.pull16v {
  margin-top: -1.6rem; }

.pull17v {
  margin-top: -1.7rem; }

.pull18v {
  margin-top: -1.8rem; }

.pull19v {
  margin-top: -1.9rem; }

.pull20v {
  margin-top: -2rem; }

.pull1h {
  margin-left: -0.1rem; }

.pull2h {
  margin-left: -0.2rem; }

.pull3h {
  margin-left: -0.3rem; }

.pull4h {
  margin-left: -0.4rem; }

.pull5h {
  margin-left: -0.5rem; }

.pull6h {
  margin-left: -0.6rem; }

.pull7h {
  margin-left: -0.7rem; }

.pull8h {
  margin-left: -0.8rem; }

.pull9h {
  margin-left: -0.9rem; }

.pull10h {
  margin-left: -1rem; }

.pull11h {
  margin-left: -1.1rem; }

.pull12h {
  margin-left: -1.2rem; }

.pull13h {
  margin-left: -1.3rem; }

.pull14h {
  margin-left: -1.4rem; }

.pull15h {
  margin-left: -1.5rem; }

.pull16h {
  margin-left: -1.6rem; }

.pull17h {
  margin-left: -1.7rem; }

.pull18h {
  margin-left: -1.8rem; }

.pull19h {
  margin-left: -1.9rem; }

.pull20h {
  margin-left: -2rem; }

.translate-push1v {
  transform: translate(0, 0.1rem); }

.translate-push2v {
  transform: translate(0, 0.2rem); }

.translate-push3v {
  transform: translate(0, 0.3rem); }

.translate-push4v {
  transform: translate(0, 0.4rem); }

.translate-push5v {
  transform: translate(0, 0.5rem); }

.translate-push6v {
  transform: translate(0, 0.6rem); }

.translate-push7v {
  transform: translate(0, 0.7rem); }

.translate-push8v {
  transform: translate(0, 0.8rem); }

.translate-push9v {
  transform: translate(0, 0.9rem); }

.translate-push10v {
  transform: translate(0, 1rem); }

.translate-push11v {
  transform: translate(0, 1.1rem); }

.translate-push12v {
  transform: translate(0, 1.2rem); }

.translate-push13v {
  transform: translate(0, 1.3rem); }

.translate-push14v {
  transform: translate(0, 1.4rem); }

.translate-push15v {
  transform: translate(0, 1.5rem); }

.translate-push16v {
  transform: translate(0, 1.6rem); }

.translate-push17v {
  transform: translate(0, 1.7rem); }

.translate-push18v {
  transform: translate(0, 1.8rem); }

.translate-push19v {
  transform: translate(0, 1.9rem); }

.translate-push20v {
  transform: translate(0, 2rem); }

.translate-pull1v {
  transform: translate(0, -0.1rem); }

.translate-pull2v {
  transform: translate(0, -0.2rem); }

.translate-pull3v {
  transform: translate(0, -0.3rem); }

.translate-pull4v {
  transform: translate(0, -0.4rem); }

.translate-pull5v {
  transform: translate(0, -0.5rem); }

.translate-pull6v {
  transform: translate(0, -0.6rem); }

.translate-pull7v {
  transform: translate(0, -0.7rem); }

.translate-pull8v {
  transform: translate(0, -0.8rem); }

.translate-pull9v {
  transform: translate(0, -0.9rem); }

.translate-pull10v {
  transform: translate(0, -1rem); }

.translate-pull11v {
  transform: translate(0, -1.1rem); }

.translate-pull12v {
  transform: translate(0, -1.2rem); }

.translate-pull13v {
  transform: translate(0, -1.3rem); }

.translate-pull14v {
  transform: translate(0, -1.4rem); }

.translate-pull15v {
  transform: translate(0, -1.5rem); }

.translate-pull16v {
  transform: translate(0, -1.6rem); }

.translate-pull17v {
  transform: translate(0, -1.7rem); }

.translate-pull18v {
  transform: translate(0, -1.8rem); }

.translate-pull19v {
  transform: translate(0, -1.9rem); }

.translate-pull20v {
  transform: translate(0, -2rem); }

.translate-push1h {
  transform: translate(0.1rem); }

.translate-push2h {
  transform: translate(0.2rem); }

.translate-push3h {
  transform: translate(0.3rem); }

.translate-push4h {
  transform: translate(0.4rem); }

.translate-push5h {
  transform: translate(0.5rem); }

.translate-push6h {
  transform: translate(0.6rem); }

.translate-push7h {
  transform: translate(0.7rem); }

.translate-push8h {
  transform: translate(0.8rem); }

.translate-push9h {
  transform: translate(0.9rem); }

.translate-push10h {
  transform: translate(1rem); }

.translate-push11h {
  transform: translate(1.1rem); }

.translate-push12h {
  transform: translate(1.2rem); }

.translate-push13h {
  transform: translate(1.3rem); }

.translate-push14h {
  transform: translate(1.4rem); }

.translate-push15h {
  transform: translate(1.5rem); }

.translate-push16h {
  transform: translate(1.6rem); }

.translate-push17h {
  transform: translate(1.7rem); }

.translate-push18h {
  transform: translate(1.8rem); }

.translate-push19h {
  transform: translate(1.9rem); }

.translate-push20h {
  transform: translate(2rem); }

.translate-pull1h {
  transform: translate(-0.1rem); }

.translate-pull2h {
  transform: translate(-0.2rem); }

.translate-pull3h {
  transform: translate(-0.3rem); }

.translate-pull4h {
  transform: translate(-0.4rem); }

.translate-pull5h {
  transform: translate(-0.5rem); }

.translate-pull6h {
  transform: translate(-0.6rem); }

.translate-pull7h {
  transform: translate(-0.7rem); }

.translate-pull8h {
  transform: translate(-0.8rem); }

.translate-pull9h {
  transform: translate(-0.9rem); }

.translate-pull10h {
  transform: translate(-1rem); }

.translate-pull11h {
  transform: translate(-1.1rem); }

.translate-pull12h {
  transform: translate(-1.2rem); }

.translate-pull13h {
  transform: translate(-1.3rem); }

.translate-pull14h {
  transform: translate(-1.4rem); }

.translate-pull15h {
  transform: translate(-1.5rem); }

.translate-pull16h {
  transform: translate(-1.6rem); }

.translate-pull17h {
  transform: translate(-1.7rem); }

.translate-pull18h {
  transform: translate(-1.8rem); }

.translate-pull19h {
  transform: translate(-1.9rem); }

.translate-pull20h {
  transform: translate(-2rem); }

.hide,
.display-none {
  display: none; }

.show,
.block,
.display-block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.invisible,
.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.opacity-0 {
  opacity: 0; }

.opacity-5 {
  opacity: 0.05; }

.opacity-10 {
  opacity: 0.1; }

.opacity-15 {
  opacity: 0.15; }

.opacity-20 {
  opacity: 0.2; }

.opacity-25 {
  opacity: 0.25; }

.opacity-30 {
  opacity: 0.3; }

.opacity-35 {
  opacity: 0.35; }

.opacity-40 {
  opacity: 0.4; }

.opacity-45 {
  opacity: 0.45; }

.opacity-50 {
  opacity: 0.5; }

.opacity-55 {
  opacity: 0.55; }

.opacity-60 {
  opacity: 0.6; }

.opacity-65 {
  opacity: 0.65; }

.opacity-70 {
  opacity: 0.7; }

.opacity-75 {
  opacity: 0.75; }

.opacity-80 {
  opacity: 0.8; }

.opacity-85 {
  opacity: 0.85; }

.opacity-90 {
  opacity: 0.9; }

.opacity-95 {
  opacity: 0.95; }

.opacity-100 {
  opacity: 1; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.overflow-hidden-visible {
  overflow: hidden visible; }

.overflow-visible-hidden {
  overflow: visible hidden; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-y-scroll {
  overflow-y: scroll; }

.overflow-y-auto {
  overflow-y: auto; }

.fade {
  transition: ease 0.3s;
  opacity: 0; }

.fading-in {
  animation: fadingIn ease 1.6s; }

@keyframes fadingIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fading-out {
  animation: fadingOut ease 0.6s; }

@keyframes fadingOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none;
    visibility: none; } }

.flash {
  animation: flash 1s cubic-bezier(0.15, 0.41, 1, 1) infinite; }

.flash-once {
  animation: flash 1s cubic-bezier(0.15, 0.41, 1, 1); }

@keyframes flash {
  80%, 100% {
    transform: scale(1.4);
    opacity: 0; } }

.rotate {
  animation: rotate 1s linear infinite; }

.rotate-once {
  animation: rotate 0.8s linear; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.scroll-auto {
  scroll-behavior: auto; }

.scroll-inherit {
  scroll-behavior: inherit; }

.scroll-unset {
  scroll-behavior: unset; }

.scroll-smooth {
  scroll-behavior: smooth; }

@media (max-width: 37.5em) {
  .hide-phone {
    display: none; } }

@media (max-width: 48em) {
  .hide-phone-landscape {
    display: none; } }

@media (max-width: 56.25em) {
  .hide-tablet-portrait {
    display: none; } }

@media (max-width: 64em) {
  .hide-tablet-landscape {
    display: none; } }

@media (max-width: 80em) {
  .hide-desktop {
    display: none; } }

@media (min-width: 80.0625) {
  .hide-desktop-large {
    display: none; } }

@media (min-width: 105em) {
  .hide-desktop-xl {
    display: none; } }

@media (max-width: 37.5em) {
  .show-phone {
    display: unset;
    visibility: visible; } }

@media (max-width: 48em) {
  .show-phone-landscape {
    display: unset;
    visibility: visible; } }

@media (max-width: 56.25em) {
  .show-tablet-portrait {
    display: unset;
    visibility: visible; } }

@media (max-width: 64em) {
  .show-tablet-landscape {
    display: unset;
    visibility: visible; } }

@media (max-width: 80em) {
  .show-desktop {
    display: unset;
    visibility: visible; } }

@media (min-width: 80.0625) {
  .show-desktop-large {
    display: unset;
    visibility: visible; } }

@media (min-width: 105em) {
  .show-desktop-xl {
    display: unset;
    visibility: visible; } }

.z-index-auto {
  z-index: auto; }

.z-index-inherit {
  z-index: inherit; }

.z-index-initial {
  z-index: initial; }

.z-index-unset {
  z-index: unset; }

.flex-force {
  display: flex; }

.overflow-inherit {
  overflow: inherit; }

.overflow-x-inherit {
  overflow: inherit; }

.overflow-y-inherit {
  overflow: inherit; }

.overflow-initial {
  overflow: initial; }

.overflow-x-initial {
  overflow: initial; }

.overflow-y-initial {
  overflow: initial; }

.overflow-unset {
  overflow: unset; }

.overflow-x-unset {
  overflow: unset; }

.overflow-y-unset {
  overflow: unset; }

.overflow-visible {
  overflow: visible; }

.overflow-x-visible {
  overflow: visible; }

.overflow-y-visible {
  overflow: visible; }

.no-hover:hover {
  text-decoration: none !important;
  border-bottom: none !important; }

.no-hover:before {
  height: 0 !important; }
