<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">
  <head>
    {% include "layout/partials/head.njk" %}
  </head>
  <body>

    <div class="loader"></div>

    {% include "layout/partials/header.njk" %}

    {% if title !== 'Home' %}
    {% include "layout/partials/menus/sidebar-menu.njk" %}
    {% endif %}
    
    {{ content | safe }}

    {% include "layout/partials/footer.njk" %}
    {% include "layout/partials/scripts.njk" %}
  </body>
</html>