<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">
  <head>
    {% include "layout/partials/head.njk" %}
  </head>
  <body>
    {% include "layout/partials/header.njk" %}

    {% if page.url == documentation %}
    {% include "layout/partials/sidebar-menu.njk" %}
    {% endif %}
    
    {{ content | safe }}

    {% include "layout/partials/footer.njk" %}
    {% include "layout/partials/scripts.njk" %}
  </body>
</html>