<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">
  <head>
    {% include "layout/partials/head.njk" %}
  </head>
  <body>
    {% include "layout/partials/header.njk" %}

    {% if page.url == '/' or title == '404' %}
      {% include "layout/partials/menus/mobile-menu.njk" %}
    {% endif %}
    
      {{ content | safe }}

    {% include "layout/partials/footer.njk" %}
    {% include "layout/partials/scripts.njk" %}
  </body>
</html>