<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">
  <head>
    {% include "layout/partials/head.njk" %}
  </head>
  <body>
    <div class="transition"></div>
    <script type="text/javascript" src="/_assets/js/transition.js"></script>
    {% include "layout/partials/header.njk" %}
    {% include "layout/partials/menus/docs-menu.njk" %}
    
    <main class="container-max padding-top-100 padding-bottom-120">
      <div class="row">
        <article class="column demo">
          <h1>{{ title }}</h1>

          <section class="group border-top-light padding-top-40">

            {{ content | safe }}

          </section>
        </article>
      </div>
    </main>

    {% include "layout/partials/footer.njk" %}
    {% include "layout/partials/scripts.njk" %}

  </body>
</html>