<nav class="column-5 fixed overflow-y-auto docs-menu sidebar" role="menu">
  <span class="hide close close-x pointer">&times;</span>
  <div aria-label="Color Theme Switcher" class="push20v mb-20 theme-switch docs-toggle hide" tabindex="0">
  {% include "components/colormode-toggle.njk" %}
  </div>
  <h5 role="menuitem"><a href="/documentation/about-hgrid/" class="{{ 'active-link' if 'about-hgrid' in page.url }}">About</a></h5>
  <h5 role="menuitem"><a href="/documentation/installation/" {% if title == 'Installation' %}class="active-link"{% endif %}>Installation</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/installation/#npm">NPM/Yarn</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/installation/#cdn">CDN</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/installation/#clone">Clone</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/variables/" {% if title == 'Variables' %}class="active-link"{% endif %}>Variables</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/variables/#internal-variables" >Internal Variables</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/variables/#custom-properties">Custom Properties</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/integrate/" {% if title == 'Integrate hgrid in Your Projects' %}class="active-link"{% endif %}>Integration</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/integrate/#vue" >Vue &amp; Nuxt</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/integrate/#react">React</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/integrate/#svelte">Svelte</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/integrate/#11ty">Eleventy</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/integrate/#astro">Astro</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/layout/" {% if title == 'Layout' %}class="active-link"{% endif %}>Layout</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/layout/#containers">Containers</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/automatic-columns" {% if title == 'Automatic Content Columns' %}class="active-link"{% endif %}>Automatic Columns</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/accurate-columns" {% if title == 'Accurate Content Columns' %}class="active-link"{% endif %}>Accurate Columns</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/flex/" {% if title == 'Flex' %}class="active-link"{% endif %}>Flex</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/grid/" {% if title == 'Grid' %}class="active-link"{% endif %}>Grid</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/tables/" {% if title == 'Tables' %}class="active-link"{% endif %}>Tables</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/positioning/" {% if title == 'Positioning' %}class="active-link"{% endif %}>Positioning</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/padding/" {% if title == 'Padding' %}class="active-link"{% endif %}>Padding</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/layout/margin/" {% if title == 'Margin' %}class="active-link"{% endif %}>Margin</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/utilities/" {% if title == 'Utilities' %}class="active-link"{% endif %}>Utilities</a></h5>
      <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/utilities/#background">Background</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/lines-and-borders" class="{{ 'active-link' if 'lines-and-borders' in page.url }}">Lines & Borders</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/shapes" {% if title == 'Shapes' %}class="active-link"{% endif %}>Shapes</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/box-shadow" class="{{ 'active-link' if 'box-shadow' in page.url }}">Box Shadow</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/cursors" {% if title == 'Cursors' %}class="active-link"{% endif %}>Cursors</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/embed" {% if title == 'Embed' %}class="active-link"{% endif %}>Embed</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/width-height" class="{{ 'active-link' if 'width-height' in page.url }}">Width &amp; Height</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/visibility" {% if title == 'Visibility' %}class="active-link"{% endif %}>Visibility</a></li>
      <li aria-label="Sub Menu Item"><a href="/documentation/utilities/figure" class="{{ 'active-link' if 'figure' in page.url }}">Figure</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/input/" {% if title == 'Input' %}class="active-link"{% endif %}>Input</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/input/#form">Form Example</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/input/#classes">Related Classes</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/typography/" {% if title == 'Typography' %}class="active-link"{% endif %}>Typography</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#headlines">Headlines</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#text-columns">Text Columns</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#lists">Lists</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#text-formatting">Text Formatting</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#font-weight">Font Weight</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#spacing">Letter Spacing</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#line-breaks">Line Breaks</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#text-selection">Text Selection</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#text-colors">Text Colors</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/typography/#anti-aliasing">Text Anti-Aliasing</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/animations/" {% if title == 'Animations' %}class="active-link"{% endif %}>Animations</a></h5>
    <ul role="menuitem" class="sub-links">
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#donut">Donut Spinner</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#rotate">Rotate</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#transition">Transition</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#flashing">Flashing</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#fade">Fade</a></li>
      <li aria-label="Sub Menu Item"><a class="close" href="/documentation/animations/#scroll">Scroll</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/a11y/" {% if title == 'Accessibility' %}class="active-link"{% endif %}>Accessibility</a></h5>

  <h5 role="menuitem"><a href="/documentation/production/" {% if title == 'Production Build' %}class="active-link"{% endif %}>Production Build</a></h5>
  
  <small class="block mt-40"><a class="versiontag" href="https://github.com/ahansson/hgrid-css/releases" target="_blank" rel="noopener"></a></small>
</nav>