<nav class="column-5 fixed overflow-y-auto docs-menu sidebar" role="menu">
  <span class="hide close-x pointer">&times;</span>
  <h5 role="menuitem"><a href="/documentation/about-hgrid/" class="{{ 'active-link' if 'about-hgrid' in page.url }}">About</a></h5>
  <h5 role="menuitem"><a href="/documentation/installation/" {% if title == 'Installation' %}class="active-link"{% endif %}>Installation</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="/documentation/installation#npm" class="{{ 'active-link' if 'installation#npm' in page.url }}">NPM/Yarn</a></li>
      <li role="menuitem"><a href="/documentation/installation#cdn" class="{{ 'active-link' if 'installation#cdn' in page.url }}">CDN</a></li>
      <li role="menuitem"><a href="/documentation/installation#clone" class="{{ 'active-link' if 'installation#clone' in page.url }}">Clone</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/integrate/" {% if title == 'Integrate hgrid With Your Projects' %}class="active-link"{% endif %}>Integration</a></h5>
  <h5 role="menuitem"><a href="/documentation/layout/" {% if title == 'Layout' %}class="active-link"{% endif %}>Layout</a></h5>
    <ul class="sub-links">
      <li role="menuitem"><a href="/documentation/layout#containers" class="{{ 'active-link' if 'documentation/layout/#containers' in page.url }}">Containers</a></li>
      <li role="menuitem"><a href="/documentation/layout/automatic-columns" {% if title == 'Automatic Content Columns' %}class="active-link"{% endif %}>Automatic Columns</a></li>
      <li role="menuitem"><a href="/documentation/layout/accurate-columns" {% if title == 'Accurate Content Columns' %}class="active-link"{% endif %}>Accurate Columns</a></li>
      <li role="menuitem"><a href="/documentation/layout/flex/" {% if title == 'Flex' %}class="active-link"{% endif %}>Flex</a></li>
      <li role="menuitem"><a href="/documentation/layout/grid/" {% if title == 'Grid' %}class="active-link"{% endif %}>Grid</a></li>
      <li role="menuitem"><a href="/documentation/layout/positioning/" class="{{ 'active-link' if 'positioning' in page.url }}">Positioning</a></li>
    </ul>
  <h5 role="menuitem"><a href="/documentation/utilities/" {% if title == 'Utility Classes' %}class="active-link"{% endif %}>Utility Classes</a></h5>
  <h5 role="menuitem"><a href="/documentation/typography/" {% if title == 'Typography' %}class="active-link"{% endif %}>Typography</a></h5>
  <h5 role="menuitem"><a href="/documentation/animations/" {% if title == 'Animations' %}class="active-link"{% endif %}>Animations</a></h5>
</nav>