<nav class="column-5 fixed overflow-y-auto border-right-light mobile-menu sidebar" role="menu">
  <span class="hide close-x pointer">&times;</span>
  <div role="menuitem" class="push20v mb-20 theme-switch mobile-toggle">
  {% include "components/colormode-toggle.njk" %}
  </div>
  <h5 role="menuitem"><a href="/documentation/about-hgrid/" class="{{ 'active-link' if 'about-hgrid' in page.url }}">About</a></h5>
  <h5 role="menuitem"><a href="/documentation/installation/" class="{{ 'active-link' if 'documentation' in page.url }}">Documentation</a></h5>
  <h5 role="menuitem"><a href="/documentation/integrate/" class="{{ 'active-link' if 'integrate' in page.url }}">Integration</a></h5>
  <h5 role="menuitem"><a href="https://github.com/ahansson/hgrid-css" rel="noopener noreferrer">GitHub</a></h5>
</nav>