<nav class="column-5 fixed overflow-y-auto border-right-light mobile-menu sidebar" role="menu">
  <span class="hide close-x pointer">&times;</span>
  <h5 role="menuitem"><a href="/documentation/about-hgrid/">About</a></h5>
  <h5 role="menuitem"><a href="/documentation/installation/">Documentation</a></h5>
  <h5 role="menuitem"><a href="/documentation/integrate/">Integration</a></h5>
  <h5 role="menuitem"><a href="https://github.com/ahansson/hgrid-css">GitHub</a></h5>
</nav>