<nav class="column-5 fixed overflow-y-auto border-right-light mobile-menu sidebar" role="menu">
  <span aria-label="Close Menu" class="hide close close-x pointer">&times;</span>
  <div aria-label="Color Theme Switcher" class="push20v mb-20 theme-switch mobile-toggle">
    {% include "components/colormode-toggle.njk" %}
  </div>
  <h5 role="menuitem"><a class="close" href="/documentation/about-hgrid/" class="{{ 'active-link' if 'about-hgrid' in page.url }}">About</a></h5>
  <h5 role="menuitem"><a class="close" href="/documentation/installation/" class="{{ 'active-link' if 'documentation' in page.url }}">Documentation</a></h5>
  <h5 role="menuitem"><a class="close" href="/documentation/integrate/" class="{{ 'active-link' if 'integrate' in page.url }}">Integration</a></h5>
  <h5 role="menuitem"><a class="close" href="https://github.com/ahansson/hgrid-css" rel="noopener">GitHub</a></h5>
</nav>