<ul class="flex align-items-center hide mobile-top-menu" role="menu">
  <li role="menuitem" class="push20h">
    <a class="border-bottom-none menu-trigger" >Menu</a>
  </li>
  <li role="menuitem" class="push20h translate-push3v">
    <a href="https://github.com/ahansson/hgrid-css" rel="noopener noreferrer" target="_blank">
      <img src="/assets/img/github.png" class="opacity-70 pointer github-icon" alt="Github icon" width="28"  height="28">
    </a>
  </li>
</ul>