---
layout: layout/base.njk
meta: { 
  title: hgrid | Lightweight CSS Utility Kit,
  description: Build Faster with hgrid. The Lightweight and Practical CSS Utility Kit.
}
title: hgrid | Lightweight CSS Utility Kit
tags: [front]
sitemapPriority: 1.0
---
<main id="main-content">
  <section class="pt-50 padding-bottom-100 masthead ">
    <div class="absolute z-index-1 width-100pct lines-3"></div>
    <div class="absolute z-index-1 width-100pct lines-2"></div>
    <div class="absolute z-index-1 width-100pct lines"></div>
    <div class="absolute z-index-1 width-100pct graphic"></div>
    <div class="container relative z-index-2 padding-top-100 flex justify-content-center align-items-center f-direction-column text-white text-center">
        <h1 class="spacing-neg-3">Build faster with <span class="signal">hgrid</span></h1>
        <h2 class="h3 font-weight-400">The Swiss Army Knife of CSS</h2>
        <button class="mt-50 outline-l"><a class="text-white" href="/documentation/installation">GET GOING</a></button>
    </div>
  </section>
  <section class="container padding-top-40 padding-bottom-30 flex align-items-center justify-content-center frameworks">
    {% include "components/frameworks.njk" %}
  </section>
  <section class="container padding-bottom-60 text-center">
    <h3 class="mb-40">A lightweight and practical CSS utility kit</h3>
    <h4 class="h5 font-weight-400 mb-40">Zero config. Flat learning curve. Write CSS in your HTML.</h4>
    <h5 class="h6 font-weight-400"><code class="npm-install">npm install hgrid-css</code></h5>
  </section>
  <section class="pitch">
    <div class="container-max mb-100">
      <div class="row text-center">
        <div class="column padding-60 radius-14 box-shadow-5">
          <h5>CSS as HTML</h5>
          <p class="mb-0 text-gray-dark">Ideal for fast prototyping, without the browser quirks and unstyled elements.</p></div>
        <div class="column padding-60 radius-14 box-shadow-5">
          <h5>Pocket sized</h5>
          <p class="mb-0 text-gray-dark">Most of your CSS needs covered with only 12.2 kB (Brotli compressed).</p>
        </div>
        <div class="column padding-60 radius-14 box-shadow-5">
          <h5>Slightly opinionated</h5>
          <p class="mb-0 text-gray-dark">Not a UI framework, just makes HTML work out of the box. No JS.</p>
        </div>
      </div>
    </div>
  </section>
</main>
